.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #D3DEAA; /* Background color */
}

.home-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9EEDF; /* Box background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-button {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Rounded corners */
}

.learn-button, .test-button, .profile-button, .options-button {
    background-color: #6C534E;
}

.learn-button:hover, .test-button:hover, .profile-button:hover, .options-button:hover {
    background-color: #5A453E;
}
