.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9eedf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar is above other components */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    margin: 0 10px;
    text-decoration: none;
    color: #2c2a4a;
    font-weight: bold;
}

.navbar-link:hover {
    color: #6883ba;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
